/*Footer*/

#footer {
    height: 10%;
    background-image: radial-gradient(darkgreen, rgb(35, 180, 35) );
    padding: 1.6rem;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: 16px;

    &:hover {
        color: white;
    }
}

@media only screen and (max-width: 800px) {
    #footer {
        font-size: 12px;
        text-align: center;
        color: white;
    }
}

@media only screen and (max-width: 400px) {
    #footer {
        font-size: 10px;
        text-align: center;
        color: white;
    }
}