/*Cuerpo*/

.box_index {
    width: 400px;
    height: 600px;
    margin: 10px;

}

@media only screen and (max-width: 768px) {
    .box_index {
        width: 300px;
        height: 220px;
        margin: auto;
        margin-bottom: 5%;
    }
}

.box_nos {
    width: 300px;
    height: 400px;
    margin: 10px;

}

@media only screen and (max-width: 800px) {
    .box_nos {
        width: 150px;
        height: 320px;
        margin: auto;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .box_nos {
        width: 150px;
        height: 220px;
        margin: auto;
        margin-bottom: 5%;
    }
}


/*Principal*/

.prin {
    background-color: $fondo;
    padding: 3%;


    &__desc {
        padding: auto;
        margin: auto;
        text-align: center;
    }

    &__desc__titulo {
        @include titulo;

    }

    &__desc__parrafo {
        @include parrafo;
    }

    &__desc__titulo-opcional {
        @include texto;
    }

    &_clas_titulo {
        @include clas_titulo
    }

    &_clas_parrafo {
        @include clas_parrafo
    }
}

@media only screen and (max-width: 800px) {
    .prin__desc__titulo {
        font-size: 14px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .prin__desc__titulo {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .prin__desc__parrafo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .prin__desc__parrafo {
        font-size: 10px;
        margin: 10px;
    }
}


@media only screen and (max-width: 800px) {
    .prin__desc__titulo-opcional {
        font-size: 14px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .prin__desc__titulo-opcional {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .prin_clas_titulo {
        font-size: 12px;
        margin: 0px;

    }
}

@media only screen and (max-width: 400px) {
    .prin_clas_titulo {
        font-size: 10px;
        margin: 0px;

    }
}

@media only screen and (max-width: 800px) {
    .prin_clas_parrafo {
        font-size: 12px;
        margin: 0px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .prin_clas_parrafo {
        font-size: 10px;
        margin: 0px;
        margin-bottom: 5px;
    }
}


/*Nosotros*/

.nos {
    background-color: rgb(227, 243, 227);
    padding: 3%;

    &__titulo {
        @include texto;
    }

    &__parrafo {
        @include parrafo;
    }
}

@media only screen and (max-width: 800px) {
    .nos__titulo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .nos__titulo {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .nos__parrafo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .nos__parrafo {
        font-size: 10px;
        margin: 10px;
    }
}

/*Que hacemos*/

.hacemos {
    background-color: $fondo;
    padding: 3%;

    &__desc__titulo {
        @include titulo;
    }

    &__desc__parrafo {
        @include parrafo;
    }
}

@media only screen and (max-width: 800px) {
    .hacemos__desc__titulo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .hacemos__desc__titulo {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .hacemos__desc__parrafo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .hacemos__desc__parrafo {
        font-size: 10px;
        margin: 10px;
    }
}

/*Galeria*/

.galeria {
    background-color: $fondo;
    padding: 3%;

    &__titulo {
        @include titulo;
    }

    &__subTitulo {
        @include texto;
    }
}

@media only screen and (max-width: 800px) {
    .galeria__titulo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .galeria__titulo {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .galeria__subTitulo {
        font-size: 12px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .galeria__subTitulo {
        font-size: 10px;
        margin: 10px;
    }
}

/*Novedades*/

.nov {
    background-color: $fondo;
    padding: 3%;

    &__art {
        padding: 1rem;
        margin: 1rem;
        text-align: left;
    }

    &__art__titulo {
        @include titulo;
    }

    &__art__list {
        display: flex;
        flex-direction: column;
        margin: 0%;
        font-style: italic;
        line-height: 1.4;
        list-style: circle;
    }

}

@media only screen and (max-width: 800px) {
    .nov__art__titulo {
        font-size: 14px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .nov__art__titulo {
        font-size: 10px;
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .nov__art__list {
        font-size: 14px;
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .nov__art__list {
        font-size: 10px;
        margin: 10px;
    }
}

/*Contacto*/

.cont {
    background-color: $fondo;
    padding: 3%;

}

.galeria {
    background-color: $fondo;
    padding: 3%;

}

/*Grid*/

#grilla1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

@media only screen and (max-width: 768px) {

    #grilla1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
        align-items: center;
        margin-bottom: 10%;

    }

}

#grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;


}

@media only screen and (max-width: 768px) {

    #grilla2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        margin-bottom: 10%;

    }

}