/*Mixin*/

@mixin titulo {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 30px;
    font-size: 20px;
    text-align: center;

}

@mixin parrafo {
    color: black;
        font-style: italic;
        margin-bottom: 14px;
        line-height: 1.5;
        margin: 30px;
        font-size: 18px;
        text-align: center;
}

@mixin texto {
    color: green;
        font-style: italic;
        font-weight: bold;
        font-family: sans-serif;
        line-height: 1.5;
        margin: 30px;
        font-size: 24px;
        text-align: center;
}